@import '../../../public/publicCss/resetCss.scss';

.userContent {
	height: 90px;

	.userBox {
		display: flex;
		align-items: center;
		height: 100%;

		.userItemBox {
			height: 100%;
			display: flex;
			align-items: center;

			.userContentItem {
				font-size: 20px;
				padding-right: 10px;
				color: black;
			}
		}
	}
}
