@import '../../../public/publicCss/resetCss.scss';

.signInContain {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.signInBox {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		h1 {
			font-size: 60px;
			padding-bottom: 50px;
		}
	}
}
